<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Croque - ADMIN</title>
	</head>

	<body>
		<div>
			<h1><a href="/">Stats</a> <a href="/questions">Questions</a> <a href="/menus">Menus</a> <a href="/tests">Tests</a></h1>
		</div>

		<%= yield %>

	</body>
</html>
