<form action="/questions" method="post">
	<input type="text" name="question" placeholder="Question">
	<input type="submit" value="Ajouter">
</form>

<% @questions.each do |q| %>
	<p>(<%= q.id %>) <%= q.body %> <a href="/questions/<%= q.id %>">[modifier]</a> <a href="/questions/<%= q.id %>/delete">[supprimer]</a></p>
<% end %>
